body {
	background: url('../img/bg.jpg');
	background-repeat: repeat-x repeat-y;
	font-family: 'Dosis', sans-serif;
}
#wrapper {
	margin: 0 auto;
	width: 920px;
}
a {
	color: #000;
	outline: none;
}
a img {
	border: none;
}/*removes blue border in the image links(tabs) in IE*/
/*Tabs styling*/
.tab-container .panel-container {
	background: #fff;
	border: solid #666 1px;
	padding: 10px;
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
}
.etabs {
	margin: 0;
	padding: 5px 5px 5px 0;
}
.tab {
	display: inline-block;
}
.tab img {
	box-shadow: 1px 1px 1px #888;
}

/*Content(table) styling*/
.content {
	background: #f6f6f6;
	border: 1px solid #bbb;
	border-radius: 3px;
	box-shadow: 2px 2px 1px #888;
	padding: 10px;
}
table {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 900px;
	text-align: left;
}
th {
	padding: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 3px;
	text-align: left; /*for IE*/
}
th:nth-last-child(1) {
	border-right: 1px solid #ddd;
	border-radius: 3px;
}
th:nth-child(1) {
	border-left: 1px solid #ddd;
	border-radius: 3px;
}
td {
	padding: 10px;
}
tr {
	border-bottom: 1px solid #ddd;
}
tr:nth-last-child(1) {
	border-bottom: none;
}
tr:nth-child(2n) {
	background-color: #EFEFEF;
}

footer {
	position: absolute;
	top: 500px;
}
