body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}

.book-tile {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    height: 200px;
}

.search-field {
    float: right;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}