li {
	position: relative;
	display: inline-block;
	background-color: #f00;
	width: 100px;
	height: 100px;
}

div {
	display: none;
	position: absolute;
	top: 50px;
	left: 10px;
	background-color: #00f;
	width: 100px;
	height: 100px;
}

li:hover div {
	display: block;
}

