[project]
	description = My Telerik Academy Projects And Homeworks
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Teodor Kurtev (Teodor92)
[access "refs/for/refs/*"]
	read = group user/Teodor Kurtev (Teodor92)
	push = group user/Teodor Kurtev (Teodor92)
	label-Code-Review = -2..+2 group user/Teodor Kurtev (Teodor92)
	label-Verified = -1..+1 group user/Teodor Kurtev (Teodor92)
	rebase = group user/Teodor Kurtev (Teodor92)
	removeReviewer = group user/Teodor Kurtev (Teodor92)
	submit = group user/Teodor Kurtev (Teodor92)
[access "refs/heads/*"]
	read = group user/Teodor Kurtev (Teodor92)
	create = group user/Teodor Kurtev (Teodor92)
	push = +force group user/Teodor Kurtev (Teodor92)
	pushMerge = group user/Teodor Kurtev (Teodor92)
[access "refs/tags/*"]
	push = +force group user/Teodor Kurtev (Teodor92)
	pushTag = group user/Teodor Kurtev (Teodor92)
	pushSignedTag = group user/Teodor Kurtev (Teodor92)
