/* reset */

div, ul, li, a, img {
	padding: 0;
	margin: 0;
}

/* main */

#wrapper {
	margin-left: 7px;
}

	.invisible {
			display: none;
	}
	
	a {
		text-decoration: none;
		color: #000;
	}
	
			img {
				width: 25px;
			}	
	
	.current {
		font-weight: bold;
	}
	
	ul {
		list-style-type: none;
	}
	
		ul li {
			border-top: 1px solid black;
			width: 100px;
			padding: 6px;
			position: relative;
		}
		
		ul li:first-child {
			margin-top: 15px;
		}
		
		ul li:last-child {
			border-bottom: 1px solid black;
		}
		
			fieldset {
				position: absolute;
				top: 0;
				left: 120px;
			}
				legend {
					font-weight: bold;
					font-size: 20px;
				}
			
			.btn-popup-close {
				position: absolute;
				left: 302px;
				top: 0;
				margin-top: 15px;
				border: 1px solid black;
				padding: 2px;
				border-radius: 5px;
				z-index: 9999;
			}
				a.btn-popup-close:hover {
				text-decoration: underline;
				}
		

	
