<div
    data-transition="overlay:up"
    data-layout="main-layout"
    data-role="view"
    id="notes-view"
    data-title="Notes"
    data-id="notes-view"
    data-show="app.notes.init">

    <div id="notes-container">
        <ul data-role="listview" id="all-notes">
        </ul>
    </div>

    <script id="notes-template" type="text/x-kendo-template">   
        <section class="note">
        <h3>#= title #</h3>
        <span>Time: #: kendo.toString(postDate, "y") #</span>
                  <a data-role="button" href="views/note-details-view.html\\#detailed-note-view?noteId=#=id#">Details</a>
        </section>     
    </script>
</div>
