@import "elementColors.scss";

@mixin elemPositions() {
	&#loops1 {
		position: absolute;
		top: 35px;
		left: 900px;
		@include darkPurple;
	}
	&#loops2 {
		position: absolute;
		top: 80px;
		left: 940px;
		@include darkPurple;
	}
	&#arrays1 {
		position: absolute;
		top: 49px;
		left: 770px;
		@include green();
	}

	&#arrays2 {
		position: absolute;
		top: 98px;
		left: 783px;
		@include green();
	}

	&#exception1 {
		position: absolute;
		top: 134px;
		left: 840px;
		@include orange();
	}

	&#exception2 {
		position: absolute;
		top: 180px;
		left: 848px;
		@include orange();
	}

	&#algo1 {
		position: absolute;
		top: 188px;
		left: 948px;
		@include purple();
	}

	&#algo2 {
		position: absolute;
		top: 230px;
		left: 948px;
		@include purple();
	}

	&#preface {
		position: absolute;
		top: 275px;
		left: 815px;
		@include blue();
	}

	&#introProgramming1 {
		position: absolute;
		top: 288px;
		left: 915px;
		@include lightGreen();
	}

	&#introProgramming2 {
		position: absolute;
		top: 325px;
		left: 915px;
		@include lightGreen();
	}

	&#strings1 {
		position: absolute;
		top: 356px;
		left: 880px;
		@include darkPurple();
	}

	&#strings2 {
		position: absolute;
		top: 387px;
		left: 938px;
		@include darkPurple();
	}

	&#dictionaries1 {
		position: absolute;
		top: 419px;
		left: 945px;
		@include orange();
	}

	&#dictionaries2 {
		position: absolute;
		top: 470px;
		left: 945px;
		@include orange();
	}

	&#recursion1 {
		position: absolute;
		top: 477px;
		left: 832px;
		@include green();
	}

	&#recursion2 {
		position: absolute;
		top: 525px;
		left: 885px;
		@include green();
	}

	&#recursion3 {
		position: absolute;
		top: 570px;
		left: 910px;
		@include green();
	}

	&#conditional1 {
		position: absolute;
		top: 610px;
		left: 930px;
		@include blue();
	}

	&#conditional2 {
		position: absolute;
		top: 660px;
		left: 930px;
		@include blue();
	}

	&#objects1 {
		position: absolute;
		top: 610px;
		left: 750px;
		@include orange();
	}

	&#objects2 {
		position: absolute;
		top: 659px;
		left: 785px;
		@include orange();
	}

	&#dataStructures1 {
		position: absolute;
		top: 665px;
		left: 670px;
		@include lightBlue();
	}

	&#dataStructures2 {
		position: absolute;
		top: 700px;
		left: 584px;
		@include lightBlue();
	}

	&#dataStructures3 {
		position: absolute;
		top: 653px;
		left: 562px;
		@include lightBlue();
	}

	&#methods1 {
		position: absolute;
		top: 722px;
		left: 490px;
		@include red();
	}

	&#methods2 {
		position: absolute;
		top: 670px;
		left: 464px;
		@include red();
	}

	&#problemSolving1 {
		position: absolute;
		top: 757px;
		left: 436px;
		@include lightBlue();
	}

	&#problemSolving2 {
		position: absolute;
		top: 757px;
		left: 338px;
		@include lightBlue();
	}

	&#numeralSystems1 {
		position: absolute;
		top: 678px;
		left: 347px;
		@include darkPurple();
	}

	&#numeralSystems2 {
		position: absolute;
		top: 711px;
		left: 307px;
		@include darkPurple();
	}

	&#quality1 {
		position: absolute;
		top: 745px;
		left: 232px;
		@include red();
	}

	&#quality2 {
		position: absolute;
		top: 690px;
		left: 203px;
		@include red();
	}

	&#sampleExams1 {
		position: absolute;
		top: 735px;
		left: 119px;
		@include lightGreen();
	}

	&#sampleExams2 {
		position: absolute;
		top: 700px;
		left: 39px;
		@include lightGreen();
	}

	&#sampleExams3 {
		position: absolute;
		top: 652px;
		left: 40px;
		@include lightGreen();
	}

	&#sampleExams4 {
		position: absolute;
		top: 610px;
		left: 30px;
		@include lightGreen();
	}

	&#sampleExams5 {
		position: absolute;
		top: 570px;
		left: 15px;
		@include lightGreen();
	}

	&#sampleExams6 {
		position: absolute;
		top: 532px;
		left: 10px;
		@include lightGreen();
	}

	&#sampleExams7 {
		position: absolute;
		top: 510px;
		left: 120px;
		@include lightGreen();
	}

	&#variables1 {
		position: absolute;
		top: 470px;
		left: 9px;
		@include blue();
	}

	&#variables2 {
		position: absolute;
		top: 420px;
		left: 15px;
		@include blue();
	}

	&#oop1 {
		position: absolute;
		top: 380px;
		left: 5px;
		@include green();
	}

	&#oop2 {
		position: absolute;
		top: 340px;
		left: 25px;
		@include green();
	}

	&#operators1 {
		position: absolute;
		top: 295px;
		left: 5px;
		@include orange();
	}

	&#operators2 {
		position: absolute;
		top: 255px;
		left: 16px;
		@include orange();
	}

	&#console1 {
		position: absolute;
		top: 220px;
		left: 35px;
		@include purple();
	}

	&#console2 {
		position: absolute;
		top: 170px;
		left: 20px;
		@include purple();
	}

	&#console3 {
		position: absolute;
		top: 165px;
		left: 125px;
		@include purple();
	}

	&#classes1-1 {
		position: absolute;
		top: 110px;
		left: 70px;
		@include lightBlue();
	}

	&#classes1-2 {
		position: absolute;
		top: 66px;
		left: 100px;
		@include lightBlue();
	}

	&#classes1-3 {
		position: absolute;
		top: 60px;
		left: 200px;
		@include lightBlue();
	}

	&#classes2-1 {
		position: absolute;
		top: 112px;
		left: 225px;
		@include lightBlue();
	}

	&#classes2-2 {
		position: absolute;
		top: 170px;
		left: 295px;
		@include lightBlue();
	}

	&#linq1 {
		position: absolute;
		top: 17px;
		left: 220px;
		@include lightGreen();
	}

	&#linq2 {
		position: absolute;
		top: 16px;
		left: 320px;
		@include lightGreen();
	}

	&#summary1 {
		position: absolute;
		top: 50px;
		left: 357px;
		@include darkPurple();
	}

	&#summary2 {
		position: absolute;
		top: 77px;
		left: 416px;
		@include darkPurple();
	}

	&#graphs1 {
		position: absolute;
		top: 10px;
		left: 500px;
		@include purple();
	}

	&#graphs2 {
		position: absolute;
		top: 42px;
		left: 533px;
		@include purple();
	}

	&#textFiles1 {
		position: absolute;
		top: 55px;
		left: 635px;
		@include blue();
	}

	&#textFiles2 {
		position: absolute;
		top: 90px;
		left: 620px;
		@include blue();
	}
}