@import "_elementPostions.scss";
@import "_elementColors.scss";

body,ul,li,header,nav,section {
	padding: 0;
	margin: 0;
}

body {
	background-image: url('../img/bg.jpg');
	font-family: "Segoe UI","Arial",sans-serif;
}

#wrapper {
	width: 1024px;
	margin: 50px auto;
	
	header
	{
		color: #232323;
	}

	ul  {
		list-style-type: none;
		width: 1050px;
		li  {
			display: inline-block;
			height: 50px;
			width: 140px;
			line-height: 50px;
			opacity: 0.5;
			box-shadow: 2px 2px 1px #888;
			color: #FFF;
			
			a {
				color: #fff;
				text-decoration: none;
				display: inline-block;
				text-align: center;
				width: 100%;
				height: 100%;

			}

			&:hover {
				opacity: 0.6;
			}

			&.current {
				opacity: 1;
			}
		}

		li:nth-child(1) {
			@include red();

			border: 1px solid #9A1F21;
			border-radius: 5px;
		}

		li:nth-child(2) {
			@include green();

			border: 1px solid #1F5714;
			border-radius: 5px;
		}

		li:nth-child(3) {
			@include orange();

			border: 1px solid #A06A0A;
			border-radius: 5px;
		}

		li:nth-child(4) {
			@include blue();

			border: 1px solid #1F5BA1;
			border-radius: 5px;
		}

		li:nth-child(5) {
			@include red;
			
			border: 1px solid #9A1F21;
			border-radius: 5px;
		}

		li:nth-child(6) {
			@include green;
			
			float: right;
			border: 1px solid #1F5714;
			border-radius: 5px;
		}

	}

	div.content {
		position: relative;
		border: 1px solid #888;
		margin: 10px 10px 10px 0;
		padding: 13px;
		background-color: #F6F6F6;
		width: 100%;
		box-shadow: 2px 2px 1px #888;
		border-radius: 3px;
		/* Tree elements positions and styles */

		a {
			display: inline-block;
			text-decoration: none;
			color: #000;
			border-radius: 10px;
			text-align: center;
			outline: 0;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			transition: all 0.5s ease;


			&:hover {
				z-index: 9999;
				color: #fff;
				-webkit-transform: scale(1.3);
				-moz-transform: scale(1.3);
				-o-transform: scale(1.3);
				-ms-transform: scale(1.3);
				transform: scale(1.3);
			}

			@include elemPositions();

			div.chapters {
				display: inline-block;
				border: 1px solid #888;
				border-radius: 4px;
				text-align: center;
				line-height: 50px;
				width: 250px;
				height: 50px;
				margin: 5px 0;
				

			}

			div.green {
				@include green();
			}

			div.lightGreen {
				@include lightGreen();
			}

			div.orange {
				@include orange();
			}

			div.purple {
				@include purple();
			}

			div.blue {
				@include blue();
			}

			div.darkPurple {
				@include darkPurple();
			}

			div.lightBlue {
				@include lightBlue();
			}

			div.red {
				@include red();
			}
		}

		div.element {
			padding: 3px 5px;
			box-shadow: 2px 2px 1px #888;
			border-radius: 10px;
		}

	}
}







