body, img, div, ul, li, button, a {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

body {
  font-size: 18px;
  font-family: "Segoe UI","Arial",sans-serif;
  letter-spacing: -1px;
  height: 100%; }
  body nav {
    position: fixed;
    background-image: url("../img/bg.jpg");
    float: left;
    width: 100px;
    padding: 0;
    height: 100%;
    border-right: 3px solid #a0a0a0; }
    body nav ul {
      list-style-type: none; }
      body nav ul li {
        text-align: center; }
        body nav ul li label {
          color: #2A2A2A;
          font-weight: bold; }
        body nav ul li button {
          cursor: pointer;
          padding: 2px 5px;
          margin: 2px;
          width: 80px;
          border-radius: 10px;
          color: #fff;
          background: #e95150;
          /* Old browsers */
          background: -moz-linear-gradient(top, #e95150 0%, #d03231 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e95150), color-stop(100%, #d03231));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #e95150 0%, #d03231 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #e95150 0%, #d03231 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #e95150 0%, #d03231 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #e95150 0%, #d03231 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e95150', endColorstr='#d03231',GradientType=0 );
          /* IE6-9 */
          border: 1px solid #d0103a;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          body nav ul li button:hover {
            color: #000;
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -o-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05); }
        body nav ul li:first-of-type {
          margin-bottom: 10px; }
        body nav ul li:nth-of-type(2) {
          margin-bottom: 20px; }
  body div#wrapper {
    position: absolute;
    left: 110px; }
