@import "_elementColors.scss";

body, img, div, ul, li, button, a {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Segoe UI","Arial",sans-serif;
  letter-spacing: -1px;
  height: 100%;

  nav {
    position: fixed;
    z-index: 9999;
    background-image: url('../img/bg.jpg');
    float: left;
    width: 100px;
    padding: 0;
    height: 100%;
    border-right: 3px solid #A0A0A0;

    ul {
      list-style-type: none;
      li {
        text-align: center;
        
        label {
          color: #2A2A2A;
          font-weight: bold;
        }

        button {
          cursor: pointer;
          padding: 2px 5px;
          margin: 2px;
          width: 80px;
          border-radius: 10px;
          color: #fff;
          @include red();
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;

          &:hover {
            color: #000;
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -o-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
          }
        }

        &:first-of-type {
          margin-bottom: 10px;
        }

        &:nth-of-type(2) {
          margin-bottom: 20px;
        }
      }
    }
  }

  div#wrapper {
    position: absolute;
    left: 110px;
  }
}
