<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="29522EpicMerge.JWeather" Publisher="CN=9DE97EE2-1F96-430C-AE9D-2F31318BC726" Version="1.0.0.0" />
  <Properties>
    <DisplayName>JWeather</DisplayName>
    <PublisherDisplayName>EpicMerge</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="JustWeather.App">
      <VisualElements DisplayName="JWeather" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="JWeather - A simple weather app." ForegroundText="light" BackgroundColor="#00a000">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\Logos\WideLogo80.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#00a000" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>