#wrapper {
	margin: 0 200px;
}

a {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: #000;
	border: 1px solid black;
	border-radius: 5px;
}

a:hover {
	font-weight: bold;
};